body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    background: white;
}
    
#navbar {
    z-index: 1000;
    padding: 20px 5vw 20px 5vw;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 24px var(--shadow-h);
}

.logo {
    width: 64px;
    height: 64px;
    margin-right: 64px;
}

#navbar a {
    text-decoration: none;
    color: #000;
    margin-right: 20px;
    font-family: RobotoBold, sans-serif;
    font-size: 1.2vmax;
    transition: color 0.2s ease;
}
#navbar a:hover {
    color: #666;
}
#navbar a:active {
    color: #555;
}

.main-container,
.main-container,
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: center;

    padding: 2vh 0 10vh 0;
    margin-bottom: 80px;
    background-color: var(--shade-1);
}
.footer {
    background: #16151a;
    margin-bottom: 0;
    color: white;
}

.main-container {
    aspect-ratio: 16/2;
    background-color: white;
    padding: 15vmin 20vmin;
}
.main-container.red {
    background-image: url("/bg/red/hor.svg");
}
.main-container.orange {
    background-image: url("/bg/orange/hor.svg");
}
.main-container.green {
    background-image: url("/bg/green/hor.svg");
}
.main-container.violet {
    background-image: url("/bg/violet/hor.svg");
}
.main-container, .sep {
    /* height: 100%; */
    /* width: 100%; */
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sep {
    aspect-ratio: 9/2;
    transform: scaleX(1.01) translateY(1px);
}
.sep.ft {
    background-image: url("/sep/sep1.svg");
}


.main-container > * {
    font-family: Montserrat, sans-serif;
}
#slogan {
    color: #000;
    font-size: 4vmax;
}
h1 {
    font-size: 1.25vmax;
    color: var(--shade-1);
}
.main-container h2 {
    font-size: 1.1vmax;
    text-align: left;
}

h2, h3, h4, h5, h6, p, ul, li, code {
    font-family: Roboto, sans-serif;
    overflow: wrap;
    font-size: 1.25vmax;
    overflow-wrap: break-word;
    text-align: center;
}
.flex-col .info-section {
    margin: 2vw;
}
.flex-col .info-section h2 {
    width: 40vw;
}
h3, h4, h5, h6 {
    font-size: 1.1vmax;
}
p, li, code {
    text-align: left;
    font-size: 1vmax;
}
code {
    font-family: monospace;
}
.main-container *:not(#slogan) {
    width: unset;
    color: #000;
}
.footer a {
    margin-left: 5px;
}

.feat-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.feat-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
}
  
.info-section {
    margin: 0 0 80px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    padding: 0 2vmax;
    color: black;
    font-size: 1.1vmax;
}

h3 {
    margin-left: 10vw;
    margin-right: 10vw;
}

.hard-pan-left {
    align-items: flex-start;
    margin-left: 20vw;
}
.hard-pan-right {
    align-items: flex-end;
    margin-right: 20vw;
}
.hard-pan-left h1 {
    margin-left: 2vw;
}
.hard-pan-right h1 {
    margin-right: 2vw;
}

.info-section img {
    border-radius: 5px;
    max-width: 25vw;
}

#mobile-additional {
    display: none;
    margin-top: 5vh;
}

#slogan {
    font-weight: 900;
}
h1 {
    font-weight: 800;
}
h2 {
    font-weight: 600;
}

.footer h2 {
    font-size: 1.2vmax;
}

@media screen and (max-width: 800px) {
    .feat-col {
        flex: unset;
    }
    .info-section {
        width: 80vw;
    }
    .main-container {
        padding: 5vmin 5vmin;
    }
    #slogan {
        font-size: 7vmax;
    }
    .main-container h1,
    .main-container h2 {
        font-size: 2vmax;
    }
    .logo {
        width: 32px;
        height: 32px;
        margin-right: 3vmin;
    }
    #navbar a {
        font-size: 3.5vmin;
        margin-right: 2.5vmin;
    }
    .info-section h1 {
        font-size: 3.5vmax;
        margin: 0.5vmax 0;
    }
    .info-section h2 {
        font-size: 2.2vmax;
        margin: 0.5vmax 0;
    }
    .footer h2 {
        font-size: 1.5vmax;
    }
    .footer a {
        font-size: 1.7vmax;
        font-weight: 400;
    }
    .footer img {
        width: 36px;
        height: 36px;
    }
}
@media screen and (max-aspect-ratio: 1/1) {
    .main-container {
        aspect-ratio: 7/14;
    }
    .main-container.red {
        background-image: url("/bg/red/vert.svg");
    }
    .main-container.orange {
        background-image: url("/bg/orange/vert.svg");
    }
    .main-container.green {
        background-image: url("/bg/green/vert.svg");
    }
    .main-container.violet {
        background-image: url("/bg/violet/vert.svg");
    }
    #mobile-additional {
        display: unset;
    }
}